<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Dreamho.me</title>
	<meta charset="utf-8">
	<meta name="description" content="агенство недвижимости"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">

	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
	<section class="hero">
		<header>
			<div class="wrapper">
				<a href="{{url_for('mainPage')}}"><img src="../static/images/logo.png" class="logo" alt="" titl=""/></a>
				<a href="{{url_for('mainPage')}}" class="hamburger"></a>
				<nav>
					<ul>
						<li><a href="{{url_for('catalog')}}">Каталог</a></li>
						<li><a href="{{url_for('topUsers')}}">Топ пользователей</a></li>
						{% if current_user.is_authenticated %}
						<li><a href="{{url_for('addRealtyForSalePage')}}">Добавить квартиру</a></li>
						{% endif %}
						<li><a href="{{url_for('aboutPage')}}">О нас</a></li>
						<li><a href="{{url_for('contactsPage')}}">Контакты</a></li>
					</ul>
					{% if current_user.is_authenticated %}
					<a href="{{url_for('profilePage')}}" class="profile_btn">{{ current_user.login }}</a>
					<a onclick="" style="width:auto;" href="logout" class="logout_btn">Выйти из аккаунта</a>
					{% else %}
					<a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" href="{{url_for('loginPage')}}" class="login_btn">Войти</a>
					{% endif %}
				</nav>
			</div>
		</header><!--  end header section  --><!--  end header section  -->

			<section class="caption">
				<h2 class="caption">Найдите дом своей мечты</h2>
				<h3 class="properties">Квартиры - Дома - Особняки</h3>
			</section>
	</section><!--  end hero section  -->





	<section class="listings">
		<div class="wrapper">
			<ul class="properties_list">

				{% for realty in realtys %}
					<li>
					<a href="buy/{{realty.id}}">
						<img src="../static/images/{{realty.image}}" alt="" title="" class="property_img"/>
					</a>
					<span class="price">{{ realty.price }} руб.</span>
					<div class="property_details">
						<h1>
							<a href="buy/{{realty.id}}">{{ realty.title }}</a>
						</h1>
						<h2>{{ realty.area }} кв. метров<span class="property_size"></span></h2>
					</div>
				</li>
				{% endfor %}
			</ul>
			<div class="more_listing">
				<a href="{{url_for('catalog')}}" class="more_listing_btn">Показать больше предложений</a>
			</div>
		</div>
	</section>	<!--  end listing section  -->

	<footer>
		<div class="wrapper footer">
			<ul>
				<li class="links">
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Помощь</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</li>

				<li class="about">
					<p>Dreamho.me - агенство недвижимости твоей мечты</p>
					<ul>
						<li><a href="http://facebook.com/pixelhint" class="facebook" target="_blank"></a></li>
						<li><a href="http://twitter.com/pixelhint" class="twitter" target="_blank"></a></li>
						<li><a href="http://plus.google.com/+Pixelhint" class="google" target="_blank"></a></li>
						<li><a href="#" class="skype"></a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div class="copyrights wrapper">
			Copyright © 2021. All Rights Reserved.
		</div>
	</footer><!--  end footer  -->

</body>
</html>
