<!DOCTYPE html>
<html lang="ru">
<head>
    <head>
	<title>Топ</title>
	<meta charset="utf-8">
	<meta name="description" content="агенство недвижимости"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="../static/css/top.css">

	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
</head>
<body>
    <header>
			<div class="wrapper">

				<nav style="width:100%">
					<a href="{{url_for('mainPage')}}" style="width:10%"><img src="../static/images/logo.png" class="logo" alt="" titl=""/></a>
				<a href="{{url_for('mainPage')}}" class="hamburger"></a>
					<ul>
						<li><a href="{{url_for('catalog')}}">Каталог</a></li>
						<li><a href="{{url_for('topUsers')}}">Топ пользователей</a></li>
						{% if current_user.is_authenticated %}
						<li><a href="{{url_for('addRealtyForSalePage')}}">Добавить квартиру</a></li>
						{% endif %}
						<li><a href="{{url_for('aboutPage')}}">О нас</a></li>
						<li><a href="{{url_for('contactsPage')}}">Контакты</a></li>
					</ul>
					{% if current_user.is_authenticated %}
					<a href="{{url_for('profilePage')}}" class="profile_btn">{{ current_user.login }}</a>
					<a onclick="" style="width:auto;" href="logout" class="logout_btn">Выйти из аккаунта</a>
					{% else %}
					<a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" href="{{url_for('loginPage')}}" class="login_btn">Войти</a>
					{% endif %}
				</nav>
			</div>
		</header><!--  end header section  --><!--  end header section  --><!--  end header section  -->
    <div class="table_wrapper">
        <table class="table">
            <thead>
			<!--  Столбцы таблицы  -->
                <th style="font-size: 22px;text-align: center">Пользователь</th>
                <th style="font-size: 22px;text-align: center">Количество квартир в наличии</th>
            </thead>
            <tbody>
			<!--  Заполение данными  -->
            {% for user in topUserList %}
                <tr>
                    <td style="font-size: 20px;font-family: Bahnschrift;text-align: center">
						<!--  Логин пользователя  -->
                        {{user.login}}
                    </td>
                    <td style="font-size: 20px;font-family: Bahnschrift;text-align: center">
						<!--  Количество недвижимости  -->
                        {{user.realtycount}}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>