body{
color:white;
font-family: "lato-regular", Helvetica, Arial, sans-serif;
background:black;
}


.regform
{
    color:white;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
}
.regform input
{
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
}
